{% extends "layout.html" %}
{% block content %}
	<h3> About The Website </h3>
	<p>
	This website calculates the various parameters of a single degree of freedom system by taking user input and calculating and displaying the relevant parameters and graph. 
	<br>
	This has been created by <b>Drishika Nadella, 181ME222</b> as a part of the ME352 - Machine Dynamics and Vibrations course assignment set by Professor K V Gangadharan in 6th semester, 2021. 
	<br>
	The website and all the relevant code has been developed using Python3, HTML and CSS.
	</p>

	<h3> Mechanical Vibrations </h3>

	<p> Mechanical vibrations are fluctuations of a mechanical or a structural system about an equilibrium position. Mechanical vibrations are initiated when an inertia element is displaced from its equilibrium position due to energy input to the system through an external source. 
	<br>
	<b>Free vibration </b> occurs when a mechanical system is set in motion with an initial input and allowed to vibrate freely.
	<br>
	<b> Forced vibration </b> is a type of vibration in which a force is repeatedly applied to a mechanical system.
	</p>

	<h3> Single Degree of Freedom System </h3> 

	<p>
	When vibration develops in a single degree of freedom system, the motion of such a system can be explained by a single second-order differential equation. The position and the velocity can describe the entire trajectory of a system.
	<br>
	An SDOF system typically consists of some mass, a spring element and (sometimes) a damping element.  
	</p>

	<h3> Parameters </h3> 

{% endblock content %}
